# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List a few data science libraries
- List at least three Data Science tools
- Multiply and add numbers

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Java
5. Scala
6. JavaScript

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. ggplot2

In [29]:
import pandas as pd

In [36]:
data_science_tools = ['Jupyter Notebook', 'RStudio', 'Anaconda Navigator']
df = pd.DataFrame(data_science_tools, columns=['Data Science Tools'])
df

   Data Science Tools
0    Jupyter Notebook
1             RStudio
2  Anaconda Navigator

### Below are a few examples of evaluating arithmetic expressions in Python

In [39]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [42]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Florentina